@import './base.scss';

body, html {
  width: 100%;
  height: 100%;
}

#app {  
  width: 100%;
  height: 100%;
  margin: 0 auto;  
  font-weight: normal;
}

a,
.green {
  text-decoration: none;
  color: var(--textoPincipal);
  transition: 0.4s;
  padding: 3px;
}

@media (hover: hover) {
  a:hover {
    background-color: var(--bordas);
  }
}
