:root {
    --principal: #01F1FE;
    --hover: #00C8D1;
    --fundo: #FFFFFF;
    --elementos: #F5F5F5;
    --textoPrincipal: #181818;
    --textoSecundario: #343434;
    --bordas: #E0E0E0;
}

@media (prefers-color-scheme: dark) {
    :root {
        --principal: #01F1F3;
        --hover: #00C8D1;
        --fundo: #181818;
        --elementos: #343434;
        --textoPrincipal: #FFFFFF;
        --textoSecundario: #B0B0B0;
        --bordas: #2A2A2A;
    }
}