:root {
   --principal      : #14868a;
   --hover          : #00BFC9;
   --fundoPrincipal : #E9EFF2;
   --fundoSecundario: #FFFFFF;
   --elementos      : #F5F5F5;
   --textoPrincipal : #181818;
   --textoSecundario: #343434;
   --fundoInput     : #FBFBFB;
   --bordas         : #E6E6E6;
   --botaoVerde     : #369306;
   --botaoAzul      : #0B1EC9;
   --botaoVermelho  : #CD1313;
}

// @media (prefers-color-scheme: dark) {
//     :root {
//         --principal: #01F1F3;
//         --hover: #00C8D1;
//         --fundo: #181818;
//         --elementos: #343434;
//         --textoPrincipal: #FFFFFF;
//         --textoSecundario: #B0B0B0;
//         --bordas: #2A2A2A;
//     }
// }